.icon {
    color: #fff;
    font-size: 5rem;
    text-align: center;

    padding: 13vh 0 2rem 0;
}

.title {
    text-align: center;

    padding-bottom: 1rem;
}

.paragraph {
    text-align: center; 

    padding: 1rem 0;
}

.button {
    text-align: center;

    padding: 1rem 0;
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.838);

    height: 100vh;

}