.background {
    position: absolute;

    transform: translateY(-50%);
    top: 50%;
    left: 0;

    z-index: -100;
    width: 100%;

    background: black;

    @include respond(phone) {
        height: 100%;
        width: 100%;

        transform: translateY(0);
    top: 0;
    left: 0;
    }
}