.btn {

    padding: 12px 35px;
    margin: 0 10px;

    font-weight: 700;
    font-size: 1rem;

    border-radius: 100px;
    border: 2px solid $bg-color-primary;

    cursor: pointer;

    transition: all 0.2s;

    
}

.btn-primary {
    background-color: $bg-color-primary;
    color: black;

    &:hover {
        background-color: transparent;
        color: $bg-color-primary;
    }
}

.btn-secondary {
    background-color: transparent;
    color: $bg-color-primary;

    &:hover {
        background-color: $bg-color-primary;
        color: $bg-color-secondary;
    }
}


.btn-book {
    position: fixed;
    top: 30px;
    left: 30px;

    z-index: 100;

    color: $bg-color-primary;


    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    gap: 5px;

    .icon {
        transform: rotate(90deg);
    }
}
