.carousel {
    overflow: hidden;
    cursor: grab;
    width: 400px;
    height: 400px;

    border-radius: 10px;
    border: 1px solid white;
    background-color: white;

}


.inner-carousel {
    display: flex;
    width: 750px;
    height: 100%;
   
    
}


.carousel-item {
    position: relative;

    
    width: 50%;
    height: 100%;

    
    

    & > * {
        object-fit: cover;
        pointer-events: none;
        border-radius: 10px;
        border: 1px solid white;
    }
}