body {
    height: 100vh;
    overflow-x: hidden;

    position: relative;

    
}

section {
    // position: relative;
    width: 100%;
    

    padding: auto 5rem;
    position: relative;
}

main {

}
