
.contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.659), rgba(26, 26, 26, 0.837)),
     url('../public/contactbg.jpg');
    background-size: cover;
    background-position: center center;

    padding: 10rem 10rem;

    overflow-y: scroll;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @include respond(laptop) {
        padding: 8rem 5rem;
    }

    @include respond(phone) {
        padding: 8rem 2rem;
    }
}


.contact-title {
    text-align: center;

    padding-bottom: 1rem;
}

.contact-paragraph {
    text-align: center; 
    max-width: 500px;
    padding: 1rem 0;
}

.contact-button {
    text-align: center;
    margin-left: -10px;
    padding: 1rem 0;
}

.contact-wrapper {
   
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 5rem;
    align-items: center;
    justify-content: center;

    
    flex-direction: column;
    
}


.contact-map-container {
    height: 400px;
    width: 100%;
}

.contact-info {
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-social-icons {
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}