
.about-section {
    background: linear-gradient(rgba(0, 0, 0, 0.911), rgba(26, 26, 26, 0.837)), url('../public/aboutbg_compressed.jpg');
    background-size: cover;
    background-position: center center;

    padding: 10rem 10rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @include respond(laptop) {
        padding: 8rem 5rem;
    }

    @include respond(phone) {
        padding: 8rem 2rem;
    }
}

.about-video {
    width: 300px;
    border-radius: 50px;
    border: 3px solid white;

    @include respond(tablet) {
        width: 100%;
    }
}

.about-title {
    text-align: left;

    padding-bottom: 1rem;
}

.about-paragraph {
    text-align: left; 
    max-width: 500px;
    padding: 1rem 0;
}

.about-button {
    text-align: left;
    margin-left: -10px;
    padding: 1rem 0;
}

.about-wrapper {
   
    display: flex;
    width: 100%;
    max-width: 1100px;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;

    @include respond(tablet) {
        flex-direction: column;
    }
}

