.about-icon {
    color: #fff;
    font-size: 5rem;
    text-align: center;

    padding: 13vh 0 2rem 0;
}
.about-section {
    background: url('../public/aboutbg_compressed.jpg');
    background-size: cover;
    background-position: center center;
    overflow-y: scroll;
}

.about-video {
    width: 400px;
    border-radius: 50px;
    border: 3px solid white;
}

.about-title {
    text-align: center;

    padding-bottom: 1rem;
}

.about-paragraph {
    text-align: center; 

    padding: 1rem 0;
}

.about-button {
    text-align: center;

    padding: 1rem 0;
}

.about-content-wrapper {
    background-color: rgba(0, 0, 0, 0.838);


    display: flex;
    align-items: center;
    justify-content: center;
}

.about-inner-wrapper {

    flex-basis: 600px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}