.about-icon {
    color: #fff;
    font-size: 5rem;
    text-align: center;

    padding: 13vh 0 2rem 0;
}

.about-title {
    text-align: center;

    padding-bottom: 1rem;
}

.about-paragraph {
    text-align: center; 

    padding: 1rem 0;
}

.about-button {
    text-align: center;

    padding: 1rem 0;
}

.about-content-wrapper {
    background-color: rgba(0, 0, 0, 0.838);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-inner-wrapper {

    flex-basis: 600px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}