.service-list {
    list-style: none;
    color: $bg-color-primary;
    font-family: $font-family-primary;

    @include respond(phone) {
        font-size: 80%;
    }
}

.service-list-item {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}